<!-- views/form.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Form Automation</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Google Form Automation</h1>
    <form action="/submit" method="POST">
        <div class="wrapper">
        <label for="formUrl">Form URL</label>
        <input type="text" id="formUrl" name="formUrl" placeholder="Enter Form URL" required>
        <button type="submit">Submit</button>
    </div>
    </form>
</body>
</html>
