/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 10px,20px;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.wrapper{
    padding: 8px;
    display: flex;
    flex-direction: column;
}

/* style.css */

/* Add styles for the success message */
.success-message {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
}

/* Add animation for the fade-out effect */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.success-message.show {
    display: block;
    animation: fadeOut 5s; /* Adjust the animation duration as needed (5 seconds in this example) */
}
